@font-face {
    font-family: 'Quartz';
    src: url(../font/quartz_regular.ttf);
}

html,
body {
    padding: 0 30px;
}

body {
    background-color: pink;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1 {
    color: red;
    font-family: Quartz;
    ;
}

.box {
    width: 50px;
    height: 50px;
    background-image: url('../imgs/webpack.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.box1 {
    width: 100px;
    height: 100px;
    background-image: url('../imgs/lbj.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.box2 {
    width: 200px;
    height: 200px;
    background-image: url('../imgs/jb.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}